body, html {
	height: 100%;
}

body {
	background-color: #fbf9fe;
	overflow-x: hidden;
}

.container {
	height: 100%;
	overflow-y: auto;
}

.container>div {
	background-color: #fbf9fe;
}

.view_hide {
	display: none;
}

.wi_grid {
	padding: 10px 10px;
}

.wi_grid>p {
	text-align: center;
	color:#FFF;
}

.wi_panel{
	margin:0px;
}

.wi_navbar + .weui_tab_bd {
  padding-top: 40px;
  padding-bottom: 0;
}

.wi_grids{
	background-color:#ff552e;
	width:100%;
}

.wi_grid_33{
	width:33%;
}
.wi_grid_20{
	width:20%;
}
.wi_grid_14{
	width:14%;
}

.down_select:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFF transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px;
    content: "";
    position: absolute;
    top: 20px;
}