<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>友共行</title>

<link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/1.0.0/weui.css" />
<link rel="stylesheet" href="{{.Path}}/static/css/font-awesome.min.css" />
<script type="text/javascript" src="https://unpkg.com/vue@1.0.26/dist/vue.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/vue-router@0.7.13/dist/vue-router.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/iscroll@5.2.0/build/iscroll-probe.js"></script>

<link rel="stylesheet" href="{{.Path}}/static/css/witravel.css?v={{.Rand}}" />
<script type="text/javascript" src="{{.Path}}/static/js/witravel.js?v={{.Rand}}"></script>
</head>
<body>
	<div style="display: none;">
		<input type="hidden" id="path" value="{{.Path}}" />
	</div>
	<div id="app" class="container">
		<div class="weui-tab">
			<div class="weui-tab_bd height_100">
				<router-view></router-view>
			</div>
			<div class="weui-tabbar wi_tabbar" v-if="showTabbar">
				<a v-link="{ path: '/travellist' }" class="weui-tabbar__item wi_tbaritem wi_tbaritem_on">
					<div class="weui-tabbar__icon">
						<i class="fa fa-plane"></i>
					</div>
					<p class="weui-tabbar__label">结伴同行</p>
				</a>
				<a v-link="{ path: '/tourguide' }" class="weui-tabbar__item wi_tbaritem">
					<div class="weui-tabbar__icon">
						<i class="fa fa-compass"></i>
					</div>
					<p class="weui-tabbar__label">翻译/导游</p>
				</a>
				<a v-link="{ path: '/guide' }" class="weui-tabbar__item wi_tbaritem">
					<div class="weui-tabbar__icon">
						<i class="fa fa-map-o"></i>
					</div>
					<p class="weui-tabbar__label">攻略</p>
				</a>
				<a v-link="{ path: '/me' }" class="weui-tabbar__item wi_tbaritem">
					<div class="weui-tabbar__icon">
						<i class="fa fa-user"></i>
					</div>
					<p class="weui-tabbar__label">我</p>
				</a>
			</div>
		</div>
	</div>

	<div class="view_hide">
		<div id="travellist_view">

			<div class="weui-tab">
				<div class="weui-navbar">
					<div class="weui-grids wi_grids">
						<a href="javascript:;" class="weui-grid wi_grid">
							<p>
								<span class="down_select">日期</span>
							</p>
						</a>
						<a href="javascript:;" class="weui-grid wi_grid">
							<p>
								<span class="down_select">目的地</span>
							</p>
						</a>
						<a href="#/edittravel/0" class="weui-grid wi_grid">
							<p>
								<i class="fa fa-plus-square-o"></i> <span class="new_travel_btn">发布</span>
							</p>
						</a>
					</div>
				</div>
				<div class="weui-tab_bd scroll_list height_100">
					<div class="weui-panel weui-panel_access wi_panel">
						<div class="weui-panel_bd">

							<a v-for="(index, item) in travellist" v-link="{ path: '/traveldetail/' + item.id }" class="weui-media-box weui-media-box_appmsg">
								<div class="weui-media__hd">
									<img class="weui-media__thumb" src="[[item.imgUrl]]" alt="">
								</div>
								<div class="weui-media__bd">
									<h4 class="weui-media__title">[[item.meetingTime | meetingDate]] [[item.meetingCity]] 出发 &gt; [[item.destination]]</h4>
									<p class="weui-media__desc wi_summary">预算:[[item.budget]] | 已参加人数:[[item.participantsNumber]] | 浏览次数:[[item.visitors]]</p>
									<p class="weui-media__desc">[[item.description]]</p>
								</div>
							</a>

						</div>
						<div class="pull_tips pull_up_tips pull_status_hide">
							<div class="pull_sbar_out">
								<div class="pull_sbar_in"></div>
								<p>使劲往上拉</p>
							</div>
							<div class="pull_loading">
								<div class="spinner">
									<div class="spinner-container container1">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container2">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container3">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
								</div>
							</div>
						</div>
						<div style="height: 100px"></div>
					</div>
				</div>
			</div>



		</div>
		<div id="edittravel_view">

			<div class="wi_form_panel">
				<div class="weui-cells__title">[[title]]</div>

				<div class="weui-cells weui-cells_form">

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.destination.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">目的地*</label>
						</div>
						<div class="weui-cell__bd">
							<input type="hidden" v-model="travel.id.value" /> <input class="weui-input" type="text" placeholder="行程的目的地" v-model="travel.destination.value" />
						</div>

						<div class="weui-cell__ft" v-if="!travel.destination.validate">
							<i class="weui-icon-warn"></i>
						</div>
					</div>

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.meetingTime.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">集合时间*</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="datetime-local" placeholder="行程的集合时间" v-model="travel.meetingTime.value">
						</div>

						<div class="weui-cell__ft" v-if="!travel.meetingTime.validate">
							<i class="weui-icon-warn"></i>
						</div>
					</div>

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.meetingCity.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">集合城市*</label>
						</div>
						<div class="weui-cell__bd">
							<select class="weui-select wi_select_33" v-on:change="onCountryChange" v-model="travel.meetingCountry.value">
								<option v-for="(index, item) in countrys" value="[[item.id]]">[[item.name]]</option>
							</select> <select class="weui-select wi_select_33" v-on:change="onProvinceChange" v-model="travel.meetingProvince.value">
								<option v-for="(index, item) in provinces" value="[[item.id]]">[[item.name]]</option>
							</select> <select class="weui-select wi_select_33" v-model="travel.meetingCity.value">
								<option v-for="(index, item) in citys" value="[[item.id]]">[[item.name]]</option>
							</select>
						</div>
					</div>

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.meetingPlace.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">集合地点*</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" placeholder="详细的集合地点" v-model="travel.meetingPlace.value">
						</div>

						<div class="weui-cell__ft" v-if="!travel.meetingPlace.validate">
							<i class="weui-icon-warn"></i>
						</div>
					</div>

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.returnDate.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">返程日期*</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="date" placeholder="预计的返程日期" v-model="travel.returnDate.value">
						</div>

						<div class="weui-cell__ft" v-if="!travel.returnDate.validate">
							<i class="weui-icon-warn"></i>
						</div>
					</div>

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.budget.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">预算*</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="number" placeholder="大概的预算(人民币)" v-model="travel.budget.value">
						</div>

						<div class="weui-cell__ft" v-if="!travel.budget.validate">
							<i class="weui-icon-warn"></i>
						</div>
					</div>

				</div>
				<div class="weui-cells__title">发起人联系方式(只有参与人能查看)</div>
				<div class="weui-cells weui-cells_form">

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.sponsorMobile.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">手机号码</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="tel" placeholder="发起人的手机号码" v-model="travel.sponsorMobile.value">
						</div>

						<div class="weui-cell__ft" v-if="!travel.sponsorMobile.validate">
							<i class="weui-icon-warn"></i>
						</div>
					</div>

					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.sponsorWechat.validate }">
						<div class="weui-cell__hd">
							<label class="weui-label">微信</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" placeholder="发起人的微信" v-model="travel.sponsorWechat.value">
						</div>

						<div class="weui-cell__ft" v-if="!travel.sponsorWechat.validate">
							<i class="weui-icon-warn"></i>
						</div>
					</div>
				</div>

				<div class="weui-cells__title">详细说明</div>
				<div class="weui-cells weui-cells_form">
					<div class="weui-cell" v-bind:class="{ 'weui-cell_warn': !travel.description.validate }">
						<div class="weui-cell__bd">
							<textarea class="weui-textarea" placeholder="请输入文本" rows="3" v-model="travel.description.value"></textarea>
							<div class="weui-textarea-counter">
								<span>[[travel.description.value.length]]</span>/200
							</div>
						</div>
					</div>
				</div>

				<div class="weui-cells weui-cells_form">
					<div class="weui-cell weui-cell_vcode" v-bind:class="{ 'weui-cell_warn': !captchaCodeValidate }">
						<div class="weui-cell__hd">
							<label class="weui-label">验证码</label>
						</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="number" placeholder="请输入验证码" v-model="captchaCode" />
						</div>
						<div class="weui-cell__ft">
							<img class="weui-vcode-img" v-on:click="reloadCaptcha" src="{{.Path}}/pub/captcha/[[captchaId]].png">
						</div>
					</div>
				</div>

				<label for="weuiAgree" class="weui-agree"> <input type="checkbox" class="weui-agree__checkbox" checked="checked"> <span class="weui-agree__text">阅读并同意<a href="javascript:void(0);">《相关条款》</a></span>
				</label>

				<br />
				<div class="wi_h_pad_10">
					<div class="weui-flex">
						<div class="weui-flex__item">
							<a v-on:click="saveData" href="javascript:;" class="weui-btn weui-btn_primary wi_h_two_btn">发布</a>
						</div>
						<div class="weui-flex__item">
							<a v-link="{ path: '/travellist' }" class="weui-btn weui-btn_default wi_h_two_btn">返回</a>
						</div>
					</div>
				</div>

				<br />
				<br />
				<div class="weui-footer">
					<p class="weui-footer__text">Copyright © 2016 友共行</p>
				</div>
				<br />
			</div>

		</div>

		<div id="traveldetail_view">
			<div class="weui-tab">
				<div class="weui-navbar wi_btnbar">
					<div class="weui-grids wi_grids">
						<a v-link="{ path: '/travellist' }" class="weui-grid wi_grid">
							<p>
								<span class="">返回</span>
							</p>
						</a>
						<a href="javascript:;" class="weui-grid wi_grid">
							<p>
								<span class="">收藏</span>
							</p>
						</a>
						<a href="#/edittravel/0" class="weui-grid wi_grid">
							<p>
								<span class="">我要参加</span>
							</p>
						</a>
					</div>
				</div>
				<div class="weui-tab_bd">

					<div class="weui-panel weui-panel_access">
						<div class="weui-panel_bd">

							<a href="javascript:" class="weui-media-box weui-media-box_appmsg">
								<div class="weui-media__hd">
									<img class="weui-media__thumb" src="[[travel.imgUrl]]" alt="">
								</div>
								<div class="weui-media__bd">
									<h4 class="weui-media__title">[[travel.meetingTime | meetingDate]] [[travel.meetingCity]] 出发 &gt; [[travel.destination]]</h4>
									<p class="weui-media__desc">&nbsp;</p>
									<p class="weui-media__desc wi_summary">预算:[[travel.budget]] | 已参加人数:[[travel.participantsNumber]] | 浏览次数:[[travel.visitors]]</p>
								</div>
							</a>
						</div>

					</div>

					<div class="weui-form-preview">
						<div class="weui-form-preview__bd wi_form_preview_bd">
							<p>
								<label class="weui-form-preview__label">目的地</label> <span class="weui-form-preview__value">[[travel.destination | empty]]</span>
							</p>
							<p>
								<label class="weui-form-preview__label">集合时间</label> <span class="weui-form-preview__value">[[travel.meetingTime | empty]]</span>
							</p>
							<p>
								<label class="weui-form-preview__label">集合城市</label> <span class="weui-form-preview__value">[[travel.meetingCountry]] - [[travel.meetingProvince]] - [[travel.meetingCity]]</span>
							</p>
							<p>
								<label class="weui-form-preview__label">集合地点</label> <span class="weui-form-preview__value">[[travel.meetingPlace | empty]]</span>
							</p>
							<p>
								<label class="weui-form-preview__label">返程日期</label> <span class="weui-form-preview__value">[[travel.returnDate | empty]]</span>
							</p>
							<p>
								<label class="weui-form-preview__label">预算</label> <span class="weui-form-preview__value">[[travel.budget | empty]]</span>
							</p>
							<p>
								<label class="weui-form-preview__label">详细说明</label> <span class="weui-form-preview__value">[[travel.description | empty]]</span>
							</p>
						</div>
					</div>

					<div class="wi_contact_box">
						<div class="weui-flex">
							<ul class="weui-flex__item wi_flex_3">
								<li class="profile"><span class="profile-name">徐先生 </span></li>
								<li class="meta"><span class="meta-phone">136037****9</span> <span class="meta-addr">归属地:许昌</span></li>
							</ul>
							<div class="weui-flex__item wi_flex_2">
								<ul class="weui-flex">
									<li class="weui-flex__item wi_icon_li"><a href="javascript:;" class="wi_contact_a">
											<i class="wi_contact_icon fa fa-phone"></i>
										</a></li>
									<li class="weui-flex__item wi_icon_li"><a href="javascript:;" class="wi_contact_a">
											<i class="wi_contact_icon fa fa-wechat"></i>
										</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</body>
</html>
